/* Variables */

// colors
// ### Primary

$clr-primary-red: hsl(0, 100%, 74%);
$clr-primary-green: hsl(154, 59%, 51%);

// ### Accent

$clr-accent-blue: hsl(248, 32%, 49%);

// ### Neutral

$clr-neutral-dark-blue: hsl(249, 10%, 26%);
$clr-neutral-grayish-blue: hsl(246, 25%, 77%);

// ## Typography

// ### Body Copy

$fs-base: 16px;

// ### Font

$ff-primary: 'Poppins', sans-serif;

$fw-thin: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin div {
  @include flex(column);
  flex: 1;
  gap: 1.5rem;
}

html {
  font-size: $fs-base;
}

* {
  font-family: $ff-primary;
  font-size: 1rem;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  @include flex(column);
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background: url(/images/bg-intro-mobile.png);
  background-color: $clr-primary-red;

  text-align: center;
}

.intro {
  @include flex(column);
  gap: 3.5rem;
  padding: 1rem;
  margin: 5rem 0 3rem 0;
  color: white;

  max-width: 375px;

  &__top,
  &__bottom {
    @include div();
  }

  &__title {
    font-size: 1.75rem;
    font-weight: $fw-semi-bold;
    line-height: 2.5rem;
  }

  &__paragraph {
    line-height: 1.5rem;
  }

  &__try {
    background-color: $clr-accent-blue;
    border-radius: 0.5rem;
    padding: 1.25rem 3rem;

    line-height: 1.5rem;
    font-weight: $fw-thin;

    box-shadow: 0px 0.5rem rgba($clr-neutral-dark-blue, 0.2);

    & span {
      font-weight: $fw-medium;
    }
  }
  &__form {
    @include flex(column);
    gap: 1rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;

    box-shadow: 0px 0.5rem rgba($clr-neutral-dark-blue, 0.2);
  }

  &__input {
    padding: 1rem 1rem 1rem 1.25rem;
    color: rgba($clr-neutral-dark-blue, 1);
    font-weight: $fw-semi-bold;
    border: none;
    border-radius: 0.25rem;
    outline: 1px solid $clr-neutral-grayish-blue;
    text-align: left;

    &:focus {
      outline: 1px solid $clr-neutral-dark-blue;
    }

    &::placeholder {
      color: rgba($clr-neutral-dark-blue, 0.8);
      font-weight: $fw-semi-bold;
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 0;

    text-transform: uppercase;
    color: white;
    background-color: $clr-primary-green;
    box-shadow: 0px 0.25rem darken($clr-primary-green, 5%);

    &:hover {
      background-color: lighten($clr-primary-green, 10%);
    }

    &:active {
      background-color: darken($clr-primary-green, 2.5%);
    }
  }

  &__terms {
    color: $clr-neutral-grayish-blue;
    font-size: 0.7rem;
    line-height: 1.5rem;

    padding: 0 1rem;

    & a {
      color: $clr-primary-red;
      font-weight: $fw-bold;

      text-decoration: none;
    }
  }
}

@media all and (min-width: 960px) {
  .intro {
    @include flex(row);
    max-width: 1080px;

    &__top {
      @include div;
      text-align: left;
      justify-content: center;

      & h1 {
        max-width: 80%;
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }

    &__bottom {
      @include div;
    }
  }
}
